{% extends "feedbackapp/layout.html" %}
{% load static %}

{% block body %}
<div class="container-dashboard">
  <div class="dashboard">
    {% for course in courses %}

      <div class="course dashboard__box" data-course="{{course.course_name}}">
        <!-- <img src="{% static 'feedbackapp/images/team_meeting.svg' %}" alt="team_meeting"> -->
        <img class="profile-image" src="{{ course.course_photo.url }}" alt="team_meeting">
        <h4>Subject: {{ course.course_name }}</h4>
        <h4> Academic Year: {{ course.academic.academic_year }}</h4>
        <h4 style="margin-bottom: 30px;"> Lecturer: {{ course.Lecturer.Lecturer_name }}</h4>
        {% if course.is_feedback %}
          <h4>You have already feedbacked.</h4>
        {% else %}
          <a href="{% url 'course_feedback' course.course_name %}" class="button" data-courseId="{{course.id}}">View all feedbacks</a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block script %}
  <!-- <script type="text/javascript" src="{% static 'feedbackapp/js/dashboard.js' %}"></script> -->
{% endblock %}