{% extends "feedbackapp/layout.html" %}
{% load static %}

{% block body %}

  <div class="school-container">
    <section class="school_admin">
      <form class="school_admin-createCourse" enctype="multipart/form-data" action="{% url 'create_course' %}" method="post">
        {% csrf_token %}
        <h4>Add New Course</h4>
        {{ courseForm.as_p }}
        <!-- <input type="text" name="course_name" placeholder="Course Name"> -->
        <!-- <input type="text" name="description" placeholder="Courser Description"> -->
        <input type="submit" class="button" value="Create Now">
      </form>
    
      <form class="school_admin-createLecturer" enctype="multipart/form-data" action="{% url 'create_lecturer' %}" method="post">
        {% csrf_token %}
        <h4>Add New Lecturer</h4>
        {{ lecturerForm.as_p }}
        <!-- <input type="text" name="lecturer_name" placeholder="LecturerName">
        <input type="text" name="specailize" placeholder="specailize"> -->
        <input type="submit" class="button" value="Create Now">
      </form>
    </section>
  </div>

{% endblock %}