
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>

  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap"
    rel="stylesheet" />
  
  <link rel="stylesheet" href="{% static 'feedbackapp/scss/styles.css' %}?{% now 'U' %}" />
</head>
<body>
  <!-- Notification for user  -->
  <section class="notification" id="notification">
    {% if message_title %}
    <h3>{{ message_title }}</h3>
    {% endif %}
    {% if message %}
    <p>{{message}}</p>
    {% endif %}
    <a class="button" href="{% url 'index' %}">Ok</a>
  </section>
</body>
</html>