.login {
  position: absolute;
  background-color: #ffffff;
  // display: grid;
  display: none;
  place-items: center;
  grid-template-columns: 1fr;
  width: 310px;
  max-width: 360px;
  margin: 0 auto;
  height: 250px;
  border-radius: 10px;
  padding: 20px 0;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  row-gap: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3300;
  top: 360px;

  @include breakpoint(medium) {
    max-width: 700px;
    width: 450px;
  }

  h4 {
    margin-top: -30px;
    color: $Dark-blue;
    font-size: 1.5rem;
  }
  .button {
    background-color: $Dark-moderate-cyan;
    width: 100px;
    transition: background-color 150ms ease-in-out;

    &:hover {
      background-color: sandybrown;
    }
  }

  &__register {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;
    p {
      font-size: 0.9rem;
      padding: 0px 4px;
      @include breakpoint(medium) {
        font-size: 1rem;
      }
    }
    a {
      font-size: 1.1rem;
      color: $Very-dark-desaturated-blue;
    }
  }
}
