.school-container {
  background-color: #19536b;
  padding: 40px 10px;
  .school_admin {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 50px;
    background-color: #19536b;
    max-width: 300px;
    margin: 0 auto;
    row-gap: 40px;

    @include breakpoint(medium) {
      max-width: 600px;
      margin: 0 auto;
      grid-template-columns: 1fr;
    }

    &-createCourse {
      padding: 20px;
      border: 1px solid #ffffff;
      border-radius: 20px;
      background-color: #ffff;
      color: $Dark-blue;
      display: grid;
      place-items: center;
      grid-template-columns: 1fr;
      row-gap: 20px;

      p {
        display: grid;
        grid-template-columns: 1fr;
      }

      .button {
        background-color: $Dark-blue;
        color: #fff;
        width: 150px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }

    input,
    select {
      width: 200px;
      padding: 7px;
      margin-top: 5px;
      font-size: 1rem;
      color: $Dark-desaturated-cyan;

      @include breakpoint(medium) {
        width: 400px;
      }
    }

    &-createLecturer {
      padding: 20px;
      border: 1px solid #ffffff;
      background-color: #ffff;
      color: $Dark-blue;
      border-radius: 20px;
      display: grid;
      place-items: center;
      grid-template-columns: 1fr;
      row-gap: 20px;

      p {
        display: grid;
        grid-template-columns: 1fr;
      }

      .button {
        background-color: $Dark-blue;
        color: #fff;
        width: 150px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
