{% extends "feedbackapp/layout.html" %}
{% load static %}

{% block body %}

<div class="reviews">

  <div class="reviews__content">
    <img class="profile-image" src="{{course.Lecturer.lecturer_profile.url}}" alt="team_meeting">
    <h4>Subject: {{ course.course_name }}</h4>
    <h4> Academic Year: {{ course.academic.academic_year }}</h4>
    <h4> Lecturer: {{ course.Lecturer.Lecturer_name }}</h4>
    <h4> Education: {{ course.Lecturer.lecturer_skill }}</h4>
    <h4>Rate: {{rate}} star(s)</h4>
    <h4>Course Description: {{ course.description }}</h4>
  </div>

  <!-- display all feedbacks -->
  <div class="reviews__item">
    <div class="reviews__item-banner">
      <h1>Here are all the feedbacks:</h1>
    </div>

    <div class="reviews__item-feedback">
      <table>
        <tr>
          <th>Rating ID</th>
          <th>Rate</th>
          <th>Feedback</th>
        </tr>
        <tbody>
          {% if not feedbacks %}
            <tr>
              <td>Sorry, this course does not have any feedback so far.</td>
            </tr>
          {% endif %}
          {% for feedback in feedbacks %}
          <tr>
            <td>{{ feedback.id }}</td>
            <td>{{ feedback.rating }}</td>
            <td>{{ feedback.message }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}