{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'feedbackapp/images/favicon-32x32.png' %}"
    />

    <title>Feedback app</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'feedbackapp/scss/styles.css' %}?{% now 'U' %}" />
  </head>
  <body>
    <!-- overlay -->
    <div id="overlay"></div>
    <!-- Start header section -->
    <header class="header">
      <div class="header__container">
        <div class="header__container--logo">
          <div class="logo">
            <img id="logo" src="{% static 'feedbackapp/images/logo.svg' %}" alt="logo" />
            <img class="hamburger" id="hamburger" src="{% static 'feedbackapp/images/icon-hamburger.svg' %}" alt="icon-hamburger" />
          </div>
          <!-- show mobile -->
          <div id="mobile" style="display: none;">
            <div class="mobile">
              {% if user.is_authenticated %}
                {% if user.is_student %}
                <a href="{% url 'student_dashboard' user.username %}">Dashboard</a>
                <a href="{% url 'profile' user.username %}">Profile</a>
                <a href="{% url 'about' %}">About Us</a>
                {% else %}
                <a href="{% url 'admin_dashboard'%}">Dashboard</a>
                <a href="{% url 'school_admin' %}">Course</a>
                <a href="{% url 'about' %}">About Us</a>
                {% endif %}
                <a class="button" href="{% url 'logout' %}" style="color: red;" class="loginBtn">Logout</a>
              {% else %} 
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'about' %}">About Us</a>
                <a href="#" id="register" onclick="return showRegisterForm()">Register</a>
                <a class="button" href="#" class="loginBtn" onclick='return showLoginForm()'>Login</a>
              {% endif %}
            </div>
          </div>
          <div class="desktop">
            {% if user.is_authenticated %}
              {% if user.is_student %}
              <a href="{% url 'student_dashboard' user.username %}">Dashboard</a>
              <a href="{% url 'profile' user.username %}">Profile</a>
              <a href="{% url 'about' %}">About</a>
              {% else %}
              <a href="{% url 'admin_dashboard' %}">Dashboard</a>
              <a href="{% url 'school_admin' %}">Course</a>
              <a href="{% url 'about' %}">About</a>
              {% endif %}
              <a class="button" href="{% url 'logout' %}" style="color: red; "class="loginBtn">Logout</a>
            {% else %}
              <a href="{% url 'index' %}">Home</a>
              <a href="{% url 'about' %}">About Us</a>
              <a href="#" id="register" onclick="return showRegisterForm()">Register</a>
              <a class="button" href="#" class="loginBtn" onclick='return showLoginForm()'>Login</a>
            {% endif %}
          </div>
        </div>
        {% block hero %}
        {% endblock %}
      </div>
    </header>

    <!-- Login form -->
    <section class="container">
      <form class="login" id="loginForm" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="close-icon">
          <img src="{% static 'feedbackapp/images/icon-close.svg' %}" alt="close-icon">
        </div>
        <h4>Login now</h4>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" class="button" value="Login">
        <div class="login__register">
          <p>Not have an account yet?</p>
          <a href="#" id="register" onclick="return showRegisterForm()">Register</a>
        </div>
      </form>
    </section>

    <!-- Register form -->
    <section class="container">
      <form class="register" id="registerForm" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="close-icon">
          <img src="{% static 'feedbackapp/images/icon-close.svg' %}" alt="close-icon">
        </div>
        <h4>Create new account now</h4>
        <div class="register__group">
          <input type="text" name="first-name" placeholder="First Name">
          <input type="text" name="last-name" placeholder="Last Name">
        </div>
        <div class="register__group">
          <input type="text" name="username" placeholder="Username">
          <input type="email" name="email" placeholder="Email Address">
        </div>
        <div class="register__group">
          <input type="text" name="department" placeholder="Department">
          <select name="years" id="years">
            <!-- <option value="" disabled hidden>Year </option> -->
            <option value="Freshman" selected>Freshman</option>
            <option value="Sophomore">Sophomore</option>
            <option value="Junior">Junior</option>
            <option value="Senior">Senior</option>
            <option value="Graduate">Graduate</option>
          </select>
        </div>
        
        <div class="register__group">
          <input type="password" name="password" placeholder="Password">
          <input type="password" name="confirm-password" placeholder="Confirm Password">
        </div>
        <input class="alert" type="submit" class="button" value="Register Now">
        <div class="register__login">
          <p>Already have an account?</p>
          <a href="#" id="login" onclick='return showLoginForm()'>Sign in</a>
        </div>
      </form>
    </section>

    {% block body %}
    {% endblock %}

    <!-- Start footer section -->
    <footer class="footer">
      <div class="footer__container">
        <div class="footer__container-logo">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-school" width="60" height="60"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="#25564b" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
            <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
          </svg>
        </div>
        <div class="footer__container-links">
          {% if user.is_authenticated %}
            {% if user.is_student %}
            <a href="{% url 'student_dashboard' user.username %}">Dashboard</a>
            <a href="{% url 'profile' user.username %}">Profile</a>
            <a href="{% url 'about' %}">About</a>
            {% else %}
            <a href="{% url 'admin_dashboard'%}">Dashboard</a>
            <a href="{% url 'school_admin' %}">Course</a>
            <a href="{% url 'about' %}">About</a>
            {% endif %}
            <a href="{% url 'logout' %}" class="loginBtn">Logout</a>
          {% else %}
          <a href="{% url 'index' %}">Home</a>
          <a href="{% url 'about' %}">About</a>
          <a href="#" class="loginBtn" onclick='return showLoginForm()'>Login</a>
          <a href="#" id="register" onclick="return showRegisterForm()">Register</a>
          {% endif %}
        </div>
        <div class="footer__container-social">
          <a href="#"><img src="{% static 'feedbackapp/images/icon-facebook.svg' %}" alt="icon-facebook"></a>
          <a href="#"><img src="{% static 'feedbackapp/images/icon-instagram.svg' %}" alt="icon-instagram"></a>
          <a href="#"><img src="{% static 'feedbackapp/images/icon-pinterest.svg' %}" alt="icon-pinterest"></a>
          <a href="#"><img src="{% static 'feedbackapp/images/icon-twitter.svg' %}" alt="icon-twitter"></a>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="{% static 'feedbackapp/js/main.js' %}">
    </script>
    {% block script %}
    {% endblock %}
  </body>
</html>
