{% extends "feedbackapp/layout.html" %}
{% load static %}
  <style>
    h1 {
      color: red;
    }
  </style>
{% block body %}
  <div class="profile-container">
    <div class="profile">
      <div class="profile-box">
        <img class="profile-image" src="{{ student.profile.url }}" alt="profile-picture">
        <div class="profile-box__camera" id="changeProfile">
          <img src="{% static 'feedbackapp/images/camera-fill.svg' %}" alt="camera-fill">
        </div>
      </div>
  
      <!-- Edit Personal Form -->
      <section class="profile__form-box">
        <form method="post" class="register" id="personalForm" enctype="multipart/form-data" action="{% url 'edit_personal' user.username %}">
          {% csrf_token %}
          <div class="close-icon">
            <img src="{% static 'feedbackapp/images/icon-close.svg' %}" alt="close-icon">
          </div>
          <h4>Update Personal Information</h4>
            {{ editPersonalForm.as_p }}
          <input type="submit" class="button" value="Update Now">
        </form>
      </section>

      <!-- Edit Profile form -->
      <div class="profile__form-box">
        <form method="post" class="register" id="profileForm" enctype="multipart/form-data" action="{% url 'edit_profile' user.username %}">
          {% csrf_token %}
          <div class="close-icon">
            <img src="{% static 'feedbackapp/images/icon-close.svg' %}" alt="close-icon">
          </div>
          <h4>Update Profile Picture</h4>
          {{ editProfileForm.as_p }}
          <input type="submit" class="button" value="Update Profile">
        </form>
      </div>
    </div>
    <div class="description">
      <h3>{{user.username}}</h3>
      <a href="#" id="edit_personal" onclick="return showEditPersonal()">Edit Personal Information</a>
      <ul>
        <li><h4>First name: {{student.first_name}}</h4></li>
        <li><h4>Last name: {{student.last_name}}</h4></li>
        <li><h4>Email: {{student.email}}</h4></li>
        <li><h4>Department: {{student.department}}</h4></li>
        <li><h4>Year: {{student.year}}</h4></li>
        <li><h4>Academic Year: {{student.academic.academic_year}}</h4></li>
      </ul>
    </div>
  </div>
  
{% endblock %}
{% block script %}
  <script type="text/javascript" src="{% static 'feedbackapp/js/profile.js' %}"></script>
{% endblock %}